@model tesla.Models.Login

@Html.ValidationSummary(true, "", new { @class = "text-danger" })

<div class="d-flex justify-content-center align-items-center " style="height:100vh;">
    <div class="card p-5 rounded">

        <form asp-action="Login" method="post">

            <h2 class="text-center" style="font-size:16px;"> Sign In </h2>
            <br />

            <div class="form-group mb-4">
                <label asp-for="email">Email</label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>

            <div class="form-group mb-4">
                <label asp-for="password">Password</label>
                <input asp-for="password" class="form-control" type="password" />
                <span asp-validation-for="password" class="text-danger"></span>
            </div>

            <input type="submit" value="Login" class="btn btn-primary mb-3 w-100 align-text-center rounded-10" />

        </form>
        <br />


        <p class="text-center" style="font-size:15px;"> Don't have an account?</p>

        <a class="btn btn-secondary mb-3 w-100 text-center rounded-10" style="color:white;" asp-action="Register"> Register</a>

    </div>
</div>
