@model tesla.Models.Category;

@{
    ViewData["Title"] = "Create New Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <h2 class="text-center mb-4">Add Category</h2>

                <form action="AddCategory" method="post">
                    <div class="mb-3">
                        <label class="form-label" asp-for="cat_name">Category Name</label>
                        <input class="form-control" asp-for="cat_name" />
                        <span asp-validation-for="cat_name" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" asp-for="cat_description">Category Description</label>
                        <input class="form-control" asp-for="cat_description" />
                        <span asp-validation-for="cat_description" class="text-danger"></span>
                    </div>
                    <div class="cat-form-group d-flex gap-3 mt-3">
                        <input type="submit" value="Create" class="btn btn-primary w-50" />
                        <button type="button"
                                onclick="location.href='@Url.Action("ProductList", "Admin")'"
                                class="btn cancel-button w-50 rounded-0">
                            Cancel
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
