@model tesla.Models.XML;
@{
    @if (ViewBag.Message != null)
    {
        <div class="alert @(ViewBag.Message.Contains("Invalid") || ViewBag.Message.Contains("invalid") ? "alert-danger" : "alert-success") m-10">
            @ViewBag.Message
        </div>
    }

<div class="container d-flex flex-column align-items-center justify-content-center add-product-page" style="min-height: 75vh;">
    <h1>Add Product</h1>

    <hr />
    <div class="col-md-4 mx-auto">
    <form method="post" enctype="multipart/form-data" asp-action="UploadXML">
        <div class="mb-3">
            <label>Select XML File</label>
            <input type="file" name="file" class="form-control" />
        </div>
        <br />
        <div class="form-group d-flex gap-3 mt-3">
            <button type="submit" class="btn btn-primary custom-upload-btn">Upload and Validate</button>
            <button type="button"
                onclick="location.href='@Url.Action("ProductList", "Admin")'"
                class="btn cancel-button w-50 rounded-0">
                Cancel
            </button>
        </div>
    </form>

    </div>
</div>

}
